<?xml version='1.0' encoding='utf-8'?>
<widget id="com.philnavy" version="1" versionCode = "1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Phil. Navy</name>
    <description>
        Phil. Navy official mobile application
    </description>
    <author email="admin@philweddings.com" href="http://philweddings.com/">
        admin@philnavy.com
    </author>

    <content src="index.html" />

    <!-- Android  -->


    <access origin="*" subdomains="true" />
    <preference name="Fullscreen" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="3.5.0" />


    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />

    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.NetworkManager" />
    </feature>
</widget>
